doctype html
html(lang="en")
  head
    title= "Contrast Ratio"
    link(rel="stylesheet", href="./bower_components/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="./bower_components/jqueryui/themes/base/jquery-ui.css")  
    link(rel="stylesheet", href="./style/bootstrap.colorpickersliders.css")
    link(rel="stylesheet", href="./style/style.css")

    
    script(src="./bower_components/jquery/dist/jquery.min.js")
    script(src="./bower_components/jqueryui/ui/minified/jquery-ui.min.js")
    script(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="./bower_components/tinycolor/tinycolor.js")
    script(src="./script/bootstrap.colorpickersliders.js")
    script(src="./script/contrast-ratio.js")
    script(src="./script/script.js")
  body

    header
      .container
        #header-ratio.header-block
          span.contrast-ratio-textContrast Contrast Ratio 
          span.mobile-hide = 
          span.gray-ratio.mobile-hide 21.0
        #header-color.header-block.readability
          .color
              .semicircle-upper.color-foreground
              .semicircle-lower.color-background
          #header-color-text
            .header-text.color-ratio 21.0
            .header-text &#8594;
            .header-text.gray-ratio 21.0
          .color
            .semicircle-upper.gray-foreground
            .semicircle-lower.gray-background
            

        #toggle-tools-btn.action.action-click Hide Tools

   

    content
      .container
        #input-group.tools
          .color-input.float-wrapper
            .input-wrapper
              span #
              input#input-foreground.hex-code-input.action(type="text", value="f7d028")
            .circle-wrapper.action.action-click
              .circle.color-foreground.action.action-click
            .input-title Foreground
          .color-input.float-wrapper
            .input-wrapper
              span #
              input#input-background.hex-code-input.action(type="text", value="43cdee")
            .circle-wrapper.action.action-click
              .circle.color-background.action.action-click
            .input-title Background
            


      #preview.container
        #summary
          #summary-ratio.gray-ratio
          #summary-text low readibility
        #text-preview.action(contenteditable) 測試文字，文本內容可以編輯，背景大小可以隨意改變。
        #concise-mode.concise
          .color
              .semicircle-upper.color-foreground
              .semicircle-lower.color-background
        #fav-panel.tools.action
          #btns.action
            #btn-add-color.btn-circle.action.action-click
              i.fa.fa-plus.action
            #btn-delete-color.btn-circle.action.action-click
              i.fa.fa-times.action
          #fav-colors.action
            



      #rulers
        .container.tools
          #ruler-hierachy.hierachy
            .ruler-title Hierachy
            .ruler-container
              #ruler-indicator-hierachy.ruler-indicator
                .ruler-indicator-text.gray-ratio
                .ruler-indicator-circle
                .ruler-indicator-bar
              .ruler
                #ruler-hierachy-disable.ruler-component Disable
                #ruler-hierachy-level1.ruler-component Level 1
                #ruler-hierachy-level2.ruler-component Level 2
                #ruler-hierachy-level3.ruler-component Level 3
              .ruler-sample-values
                span 0
                span 2
                span 3
                span 7
                span 21
          #ruler-readability.readability
            .ruler-title Readability
            .ruler-container
              #ruler-indicator-readability.ruler-indicator
                .ruler-indicator-text.gray-ratio
                .ruler-indicator-circle
                .ruler-indicator-bar
              .ruler
                #ruler-readability-disable.ruler-component Disable
                #ruler-readability-low.ruler-component Low
                #ruler-readability-high.ruler-component High Readability
              .ruler-sample-values
                span 0
                span 2
                span 2.5
                span 21 

      #color-picker-panel.action
        #color-picker.action.container.tools
 
