doctype html
html(lang="en")
  head
    title= "Contrast Ratio"
    link(rel="stylesheet", href="./style/style.css")
    script(src="./bower_components/jquery/dist/jquery.min.js")
    script(src="./script/contrast-ratio.js")
    script(src="./script/script.js")
  body

    header
      .container
        #header-color.header-block
          .header-contrast-title Original Color
          .header-contrast-content
            div
              span.contrast-ratio-text Contrast Ratio = 
              span.color-ratio 21.0
            .color
              .semicircle-upper.color-foreground
              .semicircle-lower.color-background

        #header-gray.header-block
          .header-contrast-title Grayscale Color
          .header-contrast-content
            .color
              .semicircle-upper.gray-foreground
              .semicircle-lower.gray-background
            div
              span.contrast-ratio-text Contrast Ratio = 
              span.gray-ratio 21.0

    #toggle-tools-btn Hide Tools

    content
      .container
        #input-group.tools
          .color-input.float-wrapper
            div Foreground Color:
            .input-wrapper
              input#input-foreground.hex-code-input(type="text", value="FFFFFF")
            .circle.color-foreground
          .color-input.float-wrapper
            div Background Color:
            .input-wrapper
              input#input-background.hex-code-input(type="text", value="000000")
            .circle.color-background


      #preview.container
        #summary
          #summary-ratio.gray-ratio
          #summary-text low readibility
        textarea#text-preview 測試文字，文本內容可以編輯，背景大小可以隨意改變。
        ul#fav-colors

      #rulers.container.tools
        #hierachy-ruler
          .ruler-title Hierachy
          .ruler
            #ruler-hierachy-disable.ruler-component Disable
            #ruler-hierachy-level1.ruler-component Level 1
            #ruler-hierachy-level2.ruler-component Level 2
            #ruler-hierachy-level3.ruler-component Level 3
        #readability-ruler
          .ruler-title Readability
          .ruler
            #ruler-readability-disable.ruler-component Disable
            #ruler-readability-low.ruler-component Low Readability
            #ruler-readability-high.ruler-component High Readability


