doctype html
html(lang="en")
  head
    title= "Contrast Ratio"
    //- link(rel="stylesheet", href="./bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="./bower_components/fontawesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="./style/bootstrap.colorpickersliders.css")
    link(rel="stylesheet", href="./style/style.css")

    
    script(src="./bower_components/jquery/dist/jquery.min.js")
    script(src="./bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="./bower_components/jquery-autosize/jquery.autosize.min.js")
    script(src="./bower_components/tinycolor/tinycolor.js")
    script(src="./script/bootstrap.colorpickersliders.js")
    script(src="./script/contrast-ratio.js")
    script(src="./script/script.js")
  body

    header
      .container
        #header-ratio.header-block
          span.contrast-ratio-textContrast Contrast Ratio = 
          span.gray-ratio 21.0
        //- #header-color.header-block.readability
        //-   .color
        //-       .semicircle-upper.color-foreground
        //-       .semicircle-lower.color-background
        //-   #header-color-text
        //-     .header-text.color-ratio 21.0
        //-     .header-text &#8594;
        //-     .header-text.gray-ratio 21.0
        //-   .color
        //-     .semicircle-upper.gray-foreground
        //-     .semicircle-lower.gray-background
            

        #toggle-tools-btn Hide Tools

   

    content
      .container
        #input-group.tools
          .color-input.float-wrapper
            .input-wrapper
              span #
              input#input-foreground.hex-code-input(type="text", value="FFFFFF")
            .circle.color-foreground
            .input-title Foreground
          .color-input.float-wrapper
            .input-wrapper
              span #
              input#input-background.hex-code-input(type="text", value="000000")
            .circle.color-background
            .input-title Background
            


      #preview.container
        #summary
          #summary-ratio.gray-ratio
          #summary-text low readibility
        textarea#text-preview 測試文字，文本內容可以編輯，背景大小可以隨意改變。
        #concise-mode.concise
          .color
              .semicircle-upper.color-foreground
              .semicircle-lower.color-background
        #fav-panel.tools
          #btns
            #btn-add-color.btn-circle
              i.fa.fa-plus
            #btn-delete-color.btn-circle
              i.fa.fa-times
          #fav-colors
            



      #rulers.container.tools
        #ruler-hierachy.hierachy
          .ruler-title Hierachy
          .ruler
            #ruler-hierachy-disable.ruler-component Disable
            #ruler-hierachy-level1.ruler-component Level 1
            #ruler-hierachy-level2.ruler-component Level 2
            #ruler-hierachy-level3.ruler-component Level 3
        #ruler-readability.readability
          .ruler-title Readability
          .ruler
            #ruler-readability-disable.ruler-component Disable
            #ruler-readability-low.ruler-component Low
            #ruler-readability-high.ruler-component High Readability

      #color-picker-panel
        #color-picker



