* {
  font-family: sans-serif;
}
body {
  margin: 0 auto;
  background-color: #fafafc;
  overflow: hidden;
}
.action-click {
  cursor: pointer;
  cursor: hand;
}
header .header-block {
  float: left;
  display: inline-block;
  margin-right: 50px;
  height: 30px;
  padding: 40px 0px 20px 0px;
}
header .header-block .header-contrast-title {
  font-family: HelveticaNeue-CondensedBold;
  font-size: 15px;
}
header .header-block .header-contrast-content > div {
  display: inline-block;
  height: 18px;
}
header .header-block .contrast-ratio-text {
  font-family: HelveticaNeue-Bold;
}
header .contrast-title-color {
  color: #878787;
}
header #header-ratio {
  font-family: HelveticaNeue-Bold;
  font-size: 21px;
}
header #header-title {
  font-size: 20px;
}
header #header-color > * {
  float: left;
}
header #header-color .header-text {
  float: left;
  margin: 0px 5px 0px 5px;
  height: 20px;
  line-height: 20px;
}
header .container:after {
  clear: both;
}
#toggle-tools-btn {
  float: right;
  margin-top: 30px;
  padding: 10px;
  border: 1px solid #a2a2a2;
  text-align: center;
  width: 80px;
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #a2a2a2;
}
content {
  padding-top: 20px;
  display: block;
}
.container {
  width: 90%;
  margin: 0px auto;
}
.circle-wrapper {
  width: 22px;
  margin-right: 40px;
}
.circle {
  height: 20px;
  width: 20px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.circle-selected {
  border: 1px solid #000;
}
.semicircle-upper {
  background-color: #000;
  height: 10px;
  width: 20px;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
}
.semicircle-lower {
  background-color: #f00;
  height: 10px;
  width: 20px;
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
}
.color-input-group {
  height: 20px;
  background: #fff;
  border: 0px;
}
.color-input-group .color-input {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  text-align: right;
  border: 0px;
}
#input-group {
  margin-top: 70px;
  display: block;
}
#input-group .color-input {
  height: 36px;
  padding-top: 4px;
  margin-bottom: 6px;
  margin-left: -18px;
}
#input-group .input-title {
  font-family: HelveticaNeue-Medium;
  font-size: 13px;
  color: #979797;
}
#input-group .circle {
  margin: 0px 15px 0px 30px;
}
#input-group .input-wrapper {
  height: 25px;
  border-bottom: 1px solid #000;
}
#input-group .input-wrapper span {
  font-family: Menlo, monospace;
  font-size: 15px;
}
#input-group .input-wrapper .hex-code-input {
  margin-top: -2px;
  border: none;
  text-align: right;
  font-family: Menlo, monospace;
  font-size: 15px;
  line-height: 15px;
  background-color: transparent;
  width: 60px;
}
.float-wrapper {
  width: 225px;
  height: fit-content;
}
.float-wrapper > * {
  float: right;
}
.float-wrapper:after() {
  clear: both;
}
#color-input {
  display: inline-block;
}
#summary div {
  text-align: center;
}
#preview * {
  display: block;
}
#preview #summary-ratio {
  font-size: 1.5em;
}
#preview #summary-text {
  margin-top: 5px;
  color: #8a8a8a;
}
#preview #text-preview {
  min-width: 100px;
  max-width: 100%;
  min-height: 20px;
  width: 250px;
  padding: 10px 15px 15px 10px;
  margin: 0 auto;
  margin-top: 20px;
  font-family: HelveticaNeue-Light;
  font-size: 15px;
}
#preview #concise-mode {
  margin: 0px auto;
  margin-top: 18px;
  width: 20px;
}
#preview #fav-panel {
  width: 250px;
  height: 20px;
  margin: 0px auto;
}
#preview #fav-panel #btns {
  width: 22px;
  margin: 0px auto;
  margin-top: 18px;
}
#preview #fav-panel .btn-circle {
  display: inline-block;
  border: 1px solid #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
}
#preview #fav-panel #btn-add-color > i {
  padding-top: 3px;
}
#preview #fav-panel .btn-disable {
  border: 1px solid #ececec;
  color: #ececec;
}
#preview #fav-panel #btn-delete-color {
  border: 1px solid #f00;
}
#preview #fav-panel #btn-delete-color i {
  color: #f00;
  padding-top: 2px;
}
#preview #fav-panel #fav-colors {
  margin: 0px auto;
  margin-top: 30px;
}
#preview #fav-panel #fav-colors .color {
  display: inline-block;
  margin: 0px 15px 0px 15px;
}
#contrast-ruler {
  width: 100%;
  height: 100px;
  background: linear-gradient left #fff 0% #000 100%;
}
#rulers {
  margin-top: 150px;
}
#rulers .ruler-title {
  font-family: HelveticaNeue-Medium;
  font-size: 15px;
}
#rulers .ruler-container .ruler-indicator {
  width: 20px;
  position: relative;
}
#rulers .ruler-container .ruler-indicator .ruler-indicator-text {
  font-family: HelveticaNeue-Medium;
  font-size: 15px;
  margin: 0px auto;
}
#rulers .ruler-container .ruler-indicator .ruler-indicator-circle {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #000;
  margin: 0px auto;
}
#rulers .ruler-container .ruler-indicator .ruler-indicator-bar {
  width: 2px;
  height: 5px;
  background-color: #000;
  margin: 0px auto;
}
#rulers .ruler-container .ruler {
  margin: -1px 0 0px 0;
  width: 100%;
  height: 18px;
  display: block;
}
#rulers .ruler-container .ruler .ruler-component {
  display: inline-block;
  position: relative;
  height: 18px;
  color: #fff;
  font-family: HelveticaNeue-Medium;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
#rulers .ruler-container .ruler-sample-values > span {
  margin-top: 3px;
  position: relative;
  display: inline-block;
  width: 20px;
  text-align: center;
  ont-family: HelveticaNeue-Medium;
  font-size: 15px;
}
#rulers #ruler-hierachy #ruler-hierachy-disable {
  width: 28%;
  background-color: #b0b0b0;
}
#rulers #ruler-hierachy #ruler-hierachy-level1 {
  width: 13.5%;
  background-color: #ffad00;
}
#rulers #ruler-hierachy #ruler-hierachy-level2 {
  width: 23.5%;
  background-color: #9bcb00;
}
#rulers #ruler-hierachy #ruler-hierachy-level3 {
  width: 35%;
  background-color: #369800;
}
#rulers #ruler-readability #ruler-readability-disable {
  width: 28%;
  background-color: #b0b0b0;
}
#rulers #ruler-readability #ruler-readability-low {
  width: 7%;
  background-color: #ffad00;
}
#rulers #ruler-readability #ruler-readability-high {
  width: 65%;
  background-color: #369800;
}
#color-picker-panel {
  position: absolute;
  bottom: -220px;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 220px;
  z-index: 100;
}
#color-picker-panel .cp-sliders {
  display: block;
  height: 100%;
}
#color-picker-panel .cp-slider-group {
  display: inline-block;
  width: 400px;
  margin: 0px auto;
  padding: 10px;
}
#color-picker-panel .cp-slider-group .cp-slider {
  width: 400px;
  margin: 50px 0 50px 0;
}
#color-picker-panel #cp-slider-group-rgb {
  float: left;
}
#color-picker-panel #cp-slider-group-hsl {
  float: right;
}
#test-jqueryui {
  height: 100px;
  width: 100px;
  background-color: #f00;
}
@media screen and (max-width: 540px) {
  .circle {
    height: 40px;
    width: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #000;
  }
  .input-wrapper {
    display: none;
  }
  .float-wrapper > * {
    float: none;
  }
  #input-group .circle {
    margin: 0px 0px 0px 0px;
  }
  .color-input {
    display: inline-block;
  }
  .color-input:nth-child(1) {
    margin-bottom: 20px;
  }
  .cp-slider-group {
    display: block;
    width: 400px;
    margin: 0px auto;
    padding: 10px;
  }
  .cp-slider-group .cp-slider {
    margin: 20px 0 20px 0 !important;
  }
  #cp-slider-group-rgb {
    float: none !important;
  }
  #cp-slider-group-hsl {
    float: none !important;
  }
}
