circleRadius = 10px
colorInputHeight = 2*(circleRadius)
colorTitleColor = #878787
headerColorMargin = 10px

*
  font-family sans-serif

body
  margin 0 auto
  background-color #fafafc
  overflow hidden
  min-width 1024px
  min-height 768px

.action-click
  cursor pointer 
  cursor hand

header {
  .header-block {
    float left
    display inline-block
    margin-right 50px
    height 30px
    padding 40px 0px 20px 0px

    .header-contrast-title {
      font-family HelveticaNeue-CondensedBold, sans-serif
      font-size 15px
    }

    .header-contrast-content > div {
      display inline-block
      height circleRadius*2 - 2
    }

    .contrast-ratio-text {
      font-family HelveticaNeue-Bold, sans-serif
    }
  }

  .contrast-title-color {
    color colorTitleColor
  }

  #header-ratio {
    font-family HelveticaNeue-Bold, sans-serif
    font-size 21px
  }

  #header-title {
    font-size 20px
  }

  #header-color > * {
    float left
  }

  #header-color {
    .header-text {
      float left
      margin 0px 5px 0px 5px
      height circleRadius*2
      line-height circleRadius*2
    }

  }
}

header .container:after {
  clear both
}

toggleToolsColor = #a2a2a2
#toggle-tools-btn {
  float right
  margin-top 30px
  padding 10px
  border 1px solid toggleToolsColor
  text-align center
  width 80px
  font-family HelveticaNeue-Medium, sans-serif
  font-size 13px
  color toggleToolsColor
}

content {
  padding-top 20px
  display block
}

.container
  // display block
  width 90%
  margin 0px auto

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

linear-gradient()
  -webkit-linear-gradient arguments
  -moz-linear-gradient arguments
  -o-linear-gradient arguments

.circle-wrapper {
  width (circleRadius)*2 + 2
  margin-right 40px
}


.circle {
  height (circleRadius)*2
  width (circleRadius)*2
  border-radius 100%
}

.circle-selected {
  border 1px solid #d8d8d8
}

.semicircle-upper
  background-color black
  height circleRadius
  width circleRadius*2
  border-radius circleRadius*2 circleRadius*2 0 0



.semicircle-lower
  background-color red
  height circleRadius
  width circleRadius*2
  border-radius 0 0 circleRadius*2 circleRadius*2

.color-input-group {
  height colorInputHeight
  background white
  border 0px

  .color-input {
    height colorInputHeight
    line-height colorInputHeight
    font-size 15px
    text-align right
    border 0px
  }

}

colorInputHeight = 36px
colorInputWidth = 150px
ratioDividerHeight = 2px
textInputOffset = 1px

#input-group {

  margin-top 70px
  display block
  

  .color-input {
    // display inline-block
    height colorInputHeight
    padding-top 4px
    margin-bottom 6px
    margin-left -18px
  }

  .input-title {
    font-family HelveticaNeue-Medium, sans-serif
    font-size 13px
    color #979797
  }

  .circle {
    margin 0px 15px 0px 30px
  }

  .input-wrapper {

    height circleRadius * 2 + 5
    border-bottom 1px solid black

    span {
      font-family Menlo, monospace
      font-size 15px
    }

    .hex-code-input {
      margin-top -2px
      border none
      text-align right
      font-family Menlo, monospace
      font-size 15px
      line-height 15px
      background-color transparent
      width 60px
    }
  }

  .description {
    margin-top -10px
    font-family HelveticaNeue-Light, sans-serif
    font-size 12px
    color #9f9f9f
  }
}



.float-wrapper
  // display inline-block
  width 225px
  height fit-content

.float-wrapper > *
  float right

.float-wrapper:after()
  clear both

#color-input
  display inline-block

#summary {
  // display inline-block
  // margin 0 auto
  div {
    text-align center
  }
}

#preview {

  * {
    display block
  }

  #summary-ratio {
    font-size 1.5em
  }

  #summary-text {
    margin-top 5px
    color #8a8a8a
  }

  #text-preview {
    min-width 100px
    max-width 100%
    min-height 20px
    max-height 120px
    overflow scroll
    width 250px
    padding 10px 15px 15px 10px
    margin 0 auto
    margin-top 20px
    font-family HelveticaNeue-Light, sans-serif
    font-size 15px
  }

  #concise-mode {
    margin 0px auto
    margin-top 18px
    width circleRadius*2
  }

  #fav-panel {
    width ((circleRadius)*2 + 4) * 5 + 10*15
    height circleRadius*2
    margin 0px auto

    #btns {
      width (circleRadius)*2 + 2
      margin 0px auto
      margin-top 18px
    }

    .btn-circle {
      display inline-block
      border 1px solid black
      border-radius 100%
      width circleRadius*2
      height circleRadius*2
      line-height circleRadius*2
      text-align center
      font-size 16px
    }

    #btn-add-color > i {
        padding-top 3px
    }

    .btn-disable {
      border 1px solid #ececec
      color #ececec
    }

    #btn-delete-color {
      border 1px solid red

      i {
        color red
        padding-top 2px
      }
    }

    #fav-colors {
      margin 0px auto
      margin-top 30px
      height 24px

      .color {
        display inline-block
        margin 0px 15px 0px 15px
        padding 2px
        border-radius 100%
      }

      .fav-color-selected {
        background-color #d8d8d8
      }
    }
  }
    

}



#contrast-ruler
  width 100%
  height 100px
  background linear-gradient left #ffffff 0% #000000 100%

rulerHeight=18px
rulerColorGray = #b0b0b0
rulerColorOrange = #ffad00
rulerColorLime = #9bcb00
rulerColorGreen = #369800


#rulers {
  margin 0px auto
  width 100%
  .ruler-title {
    font-family HelveticaNeue-Medium, sans-serif
    font-size 15px
  }

  .ruler-container {
    .ruler-indicator {
      width 20px
      position relative


      .ruler-indicator-text {
        font-family HelveticaNeue-Medium, sans-serif
        font-size 15px
        margin 0px auto
      }
      .ruler-indicator-circle {
        height 8px
        width 8px
        border-radius 100%
        background-color black
        margin 0px auto
      }
      .ruler-indicator-bar {
        width 2px
        height 5px
        background-color black
        margin 0px auto
      }
    }

    .ruler {
      margin -1px 0 0px 0
      width 100%
      height rulerHeight
      display block

      .ruler-component {
        display inline-block
        position relative
        height rulerHeight
        color white
        font-family HelveticaNeue-Medium, sans-serif
        font-size 12px
        line-height rulerHeight
        text-align center
      }
    }

    .ruler-sample-values > span {
      margin-top 3px
      position relative
      display inline-block
      width 20px
      text-align center
      ont-family HelveticaNeue-Medium, sans-serif
      font-size 15px
    }
  }

  #ruler-hierachy {
    #ruler-hierachy-disable {
      width 28%
      background-color rulerColorGray
    }
    #ruler-hierachy-level1 {
      width 13.5%
      background-color rulerColorOrange
    }

    #ruler-hierachy-level2 {
      width 23.5%
      background-color rulerColorLime
    }

    #ruler-hierachy-level3 {
      width 35%
      background-color rulerColorGreen
    }
  }

  #ruler-readability {
    #ruler-readability-disable {
      width 28%
      background-color rulerColorGray
    }
    #ruler-readability-low {
      width 7%
      background-color rulerColorOrange
    }

    #ruler-readability-high {
      width 65%
      background-color rulerColorGreen
    }
  }
}

colorPickerPanelHeight=220px
colorPickerWidth=400px
#color-picker-panel {
  position absolute
  bottom colorPickerPanelHeight * (-1)
  background rgba(0, 0, 0, .85)
  width 100%
  height colorPickerPanelHeight
  z-index 100

  .cp-sliders {
    display block
    height 100%;
  }
  .cp-slider-group {
    display inline-block
    width colorPickerWidth
    margin 0px auto
    padding 10px

    .cp-slider {
      width colorPickerWidth
      margin 50px 0 50px 0
    }
  }

  // sliderGroupMarginHalf=50px
  #cp-slider-group-rgb {
    float left
  }

  #cp-slider-group-hsl {
    float right
  }

}

#test-jqueryui
  height 100px
  width 100px
  background-color red

circleRadiusMobile = 20px

@media screen and (max-height: 767px) {
  #rulers {
    margin-top 150px
  }

}

@media screen and (min-height: 768px) {
  #rulers {
    position absolute
    bottom 100px
  }
}

